{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/panierstyle.css">
{% endblock %}

{% block body %}

<div class="container bootdey row">
<div class="row" style="width: 70%;">
<section class="panel">
      <div class="panel-body">
        <table><tr><td>
          <div >
              <div class="pro-img-details">
                  <img style="width: 400px!important"
                  src={{"/uploads/files/" ~ product.thumbnail}} alt="">
              </div>
              <div class="pro-img-list row">
                {% for doc in docs %}
                    <img style="width: 400px!important" class="col-md-4" src={{"/uploads/files/" ~ doc.image}} alt="doc">
                {% endfor %}
              </div>
          </div></section>
        </td>
        <td>
          <section>
          <div>
              <h4 class="pro-d-title">
                  <a href="#" class="">
                      {{product.nom}}
                  </a>
              </h4>
              <p>
                {{product.description}}
              </p>
              
              <div class="m-bot15"> <strong>Prix : </strong><span class="pro-price"> {{product.prix}} TND</span></div>
              <br>
              <p>
                  <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
              </p>
          </div>
      </div>
  </section>
</td></tr>
</table>
  </div>
  </div>
  </div>
{% endblock %}