{% extends 'base.html.twig' %}

{% block body %}
{% if user == '' %}
        <div class="container">pour pouvoir commander des produits il faut être connecté , vous pouvez vous connecter  <a href="{{ path('app_login') }}">ici</a></div>
{% endif %}
<br>
    <div class="container">

            <div class="row">
            {% for product in products %}
                <div class="col-md-4 col-sm-6">
                    
                    <div class="card" style="width: 10rem; height: 330px">
                        <div class="card-body">
                            <a class="card-text text-center" href="{{ path('product', {'prodID': product.id})}}"><p>{{ product.nom }}</p> </a>
                        </div>
                        <img src={{"/uploads/files/" ~ product.thumbnail}} alt="">
                        <div class="card-body">
                            <p class="card-text text-center">{{ product.prix }}</p>
                        </div>
                    </div>

                    {% if not user == '' %}
                    <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-success float-left">add to cart</a>
                    {% endif %}
                </div>
                {% endfor %}
                
            </div>
    </div>
{% endblock %}
